<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<div class="col-md-12">
	<br>
	<div class="col-md-2 pull-right">
			<h4> Progress: {{ percentCore() }}%</h4>
			<div class="progress">
		    	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': percentCore() + '%'}"></div>
			</div>
	</div> 
	<br><br><br>
	 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" version="1.1" viewbox="0 0 1150 1053">
	 <defs/>
	 <g transform="translate(0.5,0.5)">
	 <rect x="471" y="1" width="200" height="70" rx="10.5" ry="10.5" fill="#ffffff" stroke="#d4e1f5" pointer-events="none"/>
	 <rect x="473" y="3" width="196" height="66" rx="9.9" ry="9.9" ng-class="courses.core.length>=6 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(541.5,10.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="58" height="50" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 58px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <p>
	 <span style="font-family: &quot;courier new&quot; ; line-height: 1.2">
	 <br>
	 <font style="font-size: 24px" color="#444">Core
	 </font>
	 </span>
	 <br />
	 </p>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="29" y="31" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="481" y="161" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(3202)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(482.5,181.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Introduction to Artificial Intelligence
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="671" y="281" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(3656)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(684.5,309.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="152" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 152px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Numerical Computation
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="76" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Numerical Computation&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="1" y="281" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(3302)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(4.5,309.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="172" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 174px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Introduction to Robotics
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="86" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Introduction to Robotics&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="811" y="161" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(3287)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(812.5,181.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Database and Information Systems
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Database and Information Systems&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="951" y="281" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(3702)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(979.5,309.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="122" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 124px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <strong>
	 <font face="Courier New" color="#444">Cognitive Science
	 </font>
	 </strong>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="61" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="301" y="281" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(3434)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(314.5,309.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="152" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 152px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Theory of Computation
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="76" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Theory of Computation&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="151" y="161" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(3002)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(152.5,181.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Human-Centered Computing Foundations
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <path d="M 571 71 L 571 154.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 571 159.88 L 567.5 152.88 L 571 154.63 L 574.5 152.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 571 71 L 571 101 Q 571 111 581 111 L 891 111 Q 901 111 901 121 L 901 154.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 901 159.88 L 897.5 152.88 L 901 154.63 L 904.5 152.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 571 71 L 571 101 Q 571 111 561 111 L 251 111 Q 241 111 241 121 L 241 154.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 241 159.88 L 237.5 152.88 L 241 154.63 L 244.5 152.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 571 71 L 571 101 Q 571 111 561 111 L 401 111 Q 391 111 391 121 L 391 274.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 391 279.88 L 387.5 272.88 L 391 274.63 L 394.5 272.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 571 71 L 571 101 Q 571 111 581 111 L 751 111 Q 761 111 761 121 L 761 274.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 761 279.88 L 757.5 272.88 L 761 274.63 L 764.5 272.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 571 71 L 571 101 Q 571 111 561 111 L 101 111 Q 91 111 91 121 L 91 274.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 91 279.88 L 87.5 272.88 L 91 274.63 L 94.5 272.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 571 71 L 571 101 Q 571 111 581 111 L 1031 111 Q 1041 111 1041 121 L 1041 274.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 1041 279.88 L 1037.5 272.88 L 1041 274.63 L 1044.5 272.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 811 196 L 807.37 196" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 802.12 196 L 809.12 192.5 L 807.37 196 L 809.12 199.5 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <rect x="491" y="391" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4229)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(519.5,419.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="122" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 124px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Computer Graphics
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="61" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="821" y="391" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4239)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(822.5,411.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Advanced Computer Graphics
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Advanced Computer Graphics&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="161" y="391" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(3753)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(189.5,419.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="122" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 124px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Operating Systems
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="61" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="671" y="501" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4302)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(699.5,529.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="122" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 124px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Advanced Robotics
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="61" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="1" y="501" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4253)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(2.5,521.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Datacenter Scale Computing
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Datacenter Scale Computing&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="951" y="501" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4314)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(952.5,521.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <strong>
	 <font face="Courier New" color="#444">Algorithms for Molecular Biology
	 </font>
	 </strong>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="301" y="501" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4273)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(336.5,529.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="108" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 110px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Network Systems
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="54" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="491" y="611" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4448)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(492.5,631.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Object-Oriented Analysis and Design
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="821" y="611" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4502)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(870.5,639.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="80" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 80px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Data Mining
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="40" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="161" y="611" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4446)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(192.5,639.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="116" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 116px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Chaotic Dynamics
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="58" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="681" y="731" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4586)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(682.5,751.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">High-Performance Scientific Computing 2
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="11" y="731" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4555)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(24.5,759.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="152" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 152px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Compiler Construction
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="76" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Compiler Construction&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="961" y="731" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4593)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(974.5,759.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="152" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 152px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <strong>
	 <font face="Courier New" color="#444">Computer Organization
	 </font>
	 </strong>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="76" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="311" y="731" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4576)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(312.5,751.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">High-Performance Scientific Computing 1
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="501" y="851" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4809)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(525.5,879.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="130" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 130px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Computer Animation
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="65" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="831" y="851" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(2350)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(873.5,879.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="94" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 94px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Digital Logic
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="47" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="171" y="851" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4753)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(172.5,871.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Computer Performance Modeling
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Computer Performance Modeling&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="351" y="981" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(4613)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(361.5,1009.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="158" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 160px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Embedded System Design
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="79" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Embedded System Design&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="681" y="981" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.core.indexOf(5833)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(682.5,1001.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Spec Tpcs: UNIX System Administration
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <path d="M 761 251 L 901 251 Q 911 251 911 261 L 911 384.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 911 389.88 L 907.5 382.88 L 911 384.63 L 914.5 382.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 91 251 L 241 251 Q 251 251 251 261 L 251 384.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 251 389.88 L 247.5 382.88 L 251 384.63 L 254.5 382.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 391 251 L 571 251 Q 581 251 581 261 L 581 384.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 581 389.88 L 577.5 382.88 L 581 384.63 L 584.5 382.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 251 371 L 101 371 Q 91 371 91 381 L 91 494.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 91 499.88 L 87.5 492.88 L 91 494.63 L 94.5 492.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 581 371 L 401 371 Q 391 371 391 381 L 391 494.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 391 499.88 L 387.5 492.88 L 391 494.63 L 394.5 492.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 581 371 L 751 371 Q 761 371 761 381 L 761 494.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 761 499.88 L 757.5 492.88 L 761 494.63 L 764.5 492.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 911 371 L 1031 371 Q 1041 371 1041 381 L 1041 494.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 1041 499.88 L 1037.5 492.88 L 1041 494.63 L 1044.5 492.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 761 481 L 901 481 Q 911 481 911 491 L 911 604.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 911 609.88 L 907.5 602.88 L 911 604.63 L 914.5 602.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 391 481 L 571 481 Q 581 481 581 491 L 581 604.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 581 609.88 L 577.5 602.88 L 581 604.63 L 584.5 602.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 91 481 L 241 481 Q 251 481 251 491 L 251 604.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 251 609.88 L 247.5 602.88 L 251 604.63 L 254.5 602.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 251 591 L 111 591 Q 101 591 101 601 L 101 724.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 101 729.88 L 97.5 722.88 L 101 724.63 L 104.5 722.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 581 591 L 411 591 Q 401 591 401 601 L 401 724.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 401 729.88 L 397.5 722.88 L 401 724.63 L 404.5 722.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 581 591 L 761 591 Q 771 591 771 601 L 771 724.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 771 729.88 L 767.5 722.88 L 771 724.63 L 774.5 722.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 911 591 L 1041 591 Q 1051 591 1051 601 L 1051 724.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 1051 729.88 L 1047.5 722.88 L 1051 724.63 L 1054.5 722.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 771 711 L 911 711 Q 921 711 921 721 L 921 844.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 921 849.88 L 917.5 842.88 L 921 844.63 L 924.5 842.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 781 711 L 601 711 Q 591 711 591 721 L 591 844.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 591 849.88 L 587.5 842.88 L 591 844.63 L 594.5 842.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 401 701 L 271 701 Q 261 701 261 711 L 261 844.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 261 849.88 L 257.5 842.88 L 261 844.63 L 264.5 842.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 591 831 L 451 831 Q 441 831 441 841 L 441 974.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 441 979.88 L 437.5 972.88 L 441 974.63 L 444.5 972.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 591 831 L 761 831 Q 771 831 771 841 L 771 974.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 771 979.88 L 767.5 972.88 L 771 974.63 L 774.5 972.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 </g>
	 </svg>
	 <br><br> <br><br>
</div>