<div class="container">	
	<div class="row">
		
		<!-- Core Checklist -->
		<div ng-controller="coreController">
			<div class="col-xs-12 col-sm-6">
				<h4>Core</h4>
				<div class="well">
					<div ng-repeat="sec in courses">
						<label>
								<input type="checkbox" ng-checked="isChecked(course)" checklist-model="course.courses" checklist-value="sec.id"> {{sec.text}} 
						</label>
						</div><br>
						<button ng-click="checkAll()">Check All</button>
						<button ng-click="uncheckAll()">Uncheck All</button>
					</div>
			</div>
		</div>
		<!-- Foundation Checklist -->
		<div ng-controller="foundationController">
			<div class="col-xs-12 col-sm-6">
				<h4>Foundation</h4>
				<div class="well">
					<div ng-repeat="sec in courses">
						<label>
								<input type="checkbox" ng-checked="isChecked(course)" checklist-model="course.courses" checklist-value="sec.id"> {{sec.text}} 
						</label>
						</div><br>
						<button ng-click="checkAll()">Check All</button>
						<button ng-click="uncheckAll()">Uncheck All</button>
					</div>
			</div>
		</div>
		<!-- Electives Checklist -->
		<div ng-controller="electivesController">
			<div class="col-xs-12 col-sm-6">
				<h4>Electives</h4>
				<div class="well">
					<div ng-repeat="sec in courses">
						<label>
								<input type="checkbox" ng-checked="isChecked(course)" checklist-model="course.courses" checklist-value="sec.id"> {{sec.text}} 
						</label>
						</div><br>
						<button ng-click="checkAll()">Check All</button>
						<button ng-click="uncheckAll()">Uncheck All</button>
					</div>
			</div>
		</div>
		<!-- Capstone Checklist -->
		<div ng-controller="capstoneController">
			<div class="col-xs-12 col-sm-6">
				<h4>Senior Capstone</h4>
				<div class="well">
					<div ng-repeat="sec in courses">
						<label>
								<input type="checkbox" ng-checked="isChecked(course)" checklist-model="course.courses" checklist-value="sec.id"> {{sec.text}} 
						</label>
						</div><br>
						<button ng-click="checkAll()">Check All</button>
						<button ng-click="uncheckAll()">Uncheck All</button>
					</div>
			</div>
		</div>

		
	










	</div>
</div>