<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<div class="col-md-12">
	<br>
	<div class="col-md-2 pull-right">
			<h4> Progress: </h4>
			<div class="progress">
		    	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': percentElectives() + '%'}"></div>
			</div>
	</div> 
	<br><br><br>
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" version="1.1" viewbox="0 0 1133 243">
	 <defs/>
	 <g transform="translate(0.5,0.5)">
	 <rect x="441" y="1" width="200" height="70" rx="10.5" ry="10.5" fill="#ffffff" stroke="#d4e1f5" pointer-events="none"/>
	 <rect x="443" y="3" width="196" height="66" rx="9.9" ry="9.9" ng-class="courses.electives.length==4 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(475.5,10.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="130" height="50" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 130px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <p>
	 <br>
	 <span style="font-family: &quot;courier new&quot; ; line-height: 1.2">
	 <font style="font-size: 24px" color="#444">Electives
	 </font>
	 </span>
	 <br />
	 </p>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="65" y="31" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="601" y="171" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.electives.indexOf(4900)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(602.5,184.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="43" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Upper Division, Undergraduate Level Independent Study
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="28" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="1" y="171" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.electives.indexOf(3112)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(2.5,191.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Human-Centered Computing Professional Development
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="901" y="171" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.electives.indexOf(4120)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(902.5,191.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <strong>
	 <font face="Courier New" color="#444">Introduction to Operations Research
	 </font>
	 </strong>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="301" y="171" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.electives.indexOf(4830)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(302.5,191.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="176" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 176px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Special Topics in Computer Science
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="88" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Special Topics in Computer Science&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <path d="M 541 71 L 541 101 Q 541 111 531 111 L 401 111 Q 391 111 391 121 L 391 164.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 391 169.88 L 387.5 162.88 L 391 164.63 L 394.5 162.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 541 71 L 541 101 Q 541 111 551 111 L 681 111 Q 691 111 691 121 L 691 164.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 691 169.88 L 687.5 162.88 L 691 164.63 L 694.5 162.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 541 71 L 541 101 Q 541 111 531 111 L 101 111 Q 91 111 91 121 L 91 164.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 91 169.88 L 87.5 162.88 L 91 164.63 L 94.5 162.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 541 71 L 541 101 Q 541 111 551 111 L 981 111 Q 991 111 991 121 L 991 164.63" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 991 169.88 L 987.5 162.88 L 991 164.63 L 994.5 162.88 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 780.53 196.53 L 777.36 196.69" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 772.12 196.94 L 778.94 193.1 L 777.36 196.69 L 779.28 200.1 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 </g>
	 </svg>
</div>