 <section id="intro" class="container content-section text-left">
 	 <div class="row">
                <div class="col-md-12">
                    <h2>Getting Started</h2>
                    
                    <p>To get started, please begin by filling out your profile information by clicking on the profile tab on the top right corner on the navigation tab.</p>
                    <p>Once you have completed your profile, select the courses that you have completed in the checklist provided in the courses tab</p>
                </div>
            </div>
 </section>