<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<div class="col-md-12">
	<br>
	<div class="col-md-2 pull-right">
			<h4> Progress: </h4>
			<div class="progress">
		    	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': percentMath() + '%'}"></div>
			</div>
	</div>
	<br><br><br> 
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" version="1.1" viewbox="0 0 1133 734">
	 <defs/>
	 <g transform="translate(0.5,0.5)">
	 <rect x="471" y="1" width="200" height="70" rx="10.5" ry="10.5" fill="#ffffff" stroke="#d4e1f5" pointer-events="none"/>
	 <rect x="473" y="3" width="196" height="66" rx="9.9" ry="9.9" ng-class="courses.math.length>=5 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(541.5,9.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="57" height="50" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 59px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <p>
	 <span style="font-family: &quot;courier new&quot; ; line-height: 1.2">
	 <br>
	 <font style="font-size: 24px" color="#444">Math
	 </font>
	 </span>
	 <br />
	 </p>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="29" y="31" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="481" y="161" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(1360)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(533.5,188.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="73" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 73px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Calculus 2
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="37" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="671" y="281" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(4570)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(691.5,308.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="137" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 137px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Statistical Methods
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="69" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="1" y="281" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(3130)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(7.5,308.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="165" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 167px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Intro to Linear Algebra
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="83" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Intro to Linear Algebra&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="811" y="161" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(2820)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(811.5,180.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="177" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 177px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Linear Algebra with CS Applications
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="89" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="951" y="281" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(3022)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(957.5,308.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="165" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 167px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <strong>
	 <font face="Courier New" color="#444">Data Science Algorithms
	 </font>
	 </strong>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="83" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="301" y="281" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(3310)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(301.5,300.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="177" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 177px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Matrix Method and Applications
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="89" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Matrix Method and Applications&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="151" y="161" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(1350)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(203.5,188.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="73" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 73px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <font face="Courier New" color="#444">
	 <b>Calculus 1
	 </b>
	 </font>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="37" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <path d="M 570.71 70.71 L 570.71 154.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 570.71 159.6 L 567.21 152.6 L 570.71 154.35 L 574.21 152.6 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 570.71 70.71 L 570.93 101 Q 571 111 581 111 L 891 111 Q 901 111 900.94 121 L 900.75 154.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 900.72 159.6 L 897.26 152.58 L 900.75 154.35 L 904.26 152.62 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 570.71 70.71 L 570.93 101 Q 571 111 561 111 L 251 111 Q 241 111 240.94 121 L 240.75 154.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 240.72 159.6 L 237.26 152.58 L 240.75 154.35 L 244.26 152.62 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 570.71 70.71 L 570.71 130.71 Q 570.71 140.71 560.71 140.71 L 400.71 140.71 Q 390.71 140.71 390.71 150.71 L 390.71 274.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 390.71 279.6 L 387.21 272.6 L 390.71 274.35 L 394.21 272.6 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 570.71 70.71 L 570.93 101 Q 571 111 581 111 L 751 111 Q 761 111 760.98 121 L 760.73 274.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 760.72 279.6 L 757.23 272.59 L 760.73 274.35 L 764.23 272.6 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 570.71 70.71 L 570.93 101 Q 571 111 561 111 L 101 111 Q 91 111 90.98 121 L 90.73 274.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 90.72 279.6 L 87.23 272.59 L 90.73 274.35 L 94.23 272.6 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 570.71 70.71 L 570.93 101 Q 571 111 581 111 L 1031 111 Q 1041 111 1040.98 121 L 1040.73 274.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 1040.72 279.6 L 1037.23 272.59 L 1040.73 274.35 L 1044.23 272.6 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 810.71 196.43 L 808.51 196.43" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 803.26 196.43 L 810.26 192.93 L 808.51 196.43 L 810.26 199.93 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <rect x="481" y="406" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(4520)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(481.5,425.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="177" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 177px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Intro to Mathematical Statistics
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="89" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Intro to Mathematical Statistics&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="671" y="536" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(3818)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(671.5,555.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="177" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 177px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Intro to Statistics with Computer Applications
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="89" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="1" y="536" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(3510)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(1.5,555.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="177" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 177px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Intro to Probability and Statistics
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="89" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="811" y="406" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(3227)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(811.5,425.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="177" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 177px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Probability, Statistics and Decision
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="89" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="951" y="536" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(4120)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(960.5,563.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="159" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 159px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <strong>
	 <font face="Courier New" color="#444">Engineering Statistics
	 </font>
	 </strong>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="80" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="301" y="536" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(3810)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(301.5,555.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="177" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 177px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Intro to Probability Theory
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="89" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&lt;font face="Courier New"&gt;Intro to Probability Theory&lt;/font&gt;&lt;/b&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="156" y="406" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(3570)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(176.5,433.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="137" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 137px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <font face="Courier New" color="#444">
	 <b>Applied Probability
	 </b>
	 </font>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="69" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="481" y="661" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(2703)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(481.5,680.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="177" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 177px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <b>
	 <font face="Courier New" color="#444">Discrete Mathematics for Computer Engineers
	 </font>
	 </b>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="89" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <rect x="811" y="661" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(3170)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(811.5,680.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="177" height="28" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 177px; white-space: normal; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <font face="Courier New" color="#444">
	 <b>Discrete Applied Mathematics
	 </b>
	 </font>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="89" y="20" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;font face="Courier New"&gt;&lt;b&gt;Discrete Applied Mathematics&lt;/b&gt;&lt;/font&gt;
	 </text>
	 </switch>
	 </g>
	 <rect x="151" y="661" width="180" height="70" rx="10.5" ry="10.5" ng-class="courses.math.indexOf(2824)>-1 ? 'checked': 'unchecked'" stroke="#d4e1f5" pointer-events="none"/>
	 <g transform="translate(171.5,688.5)">
	 <switch>
	 <foreignObject style="overflow:visible;" pointer-events="all" width="137" height="13" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 137px; white-space: nowrap; text-align: center;">
	 <div xmlns="http://www.w3.org/1999/xhtml" style="display:inline-block;text-align:inherit;text-decoration:inherit;">
	 <font face="Courier New" color="#444">
	 <b>Discrete Structures
	 </b>
	 </font>
	 </div>
	 </div>
	 </foreignObject>
	 <text x="69" y="13" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]
	 </text>
	 </switch>
	 </g>
	 <path d="M 391 251 L 256 251 Q 246 251 246.03 261 L 246.41 400.06" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 246.43 405.31 L 242.91 398.32 L 246.41 400.06 L 249.91 398.3 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 761 251 L 581 251 Q 571 251 570.98 261 L 570.73 400.06" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 570.72 405.31 L 567.23 398.3 L 570.73 400.06 L 574.23 398.32 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 1041 251 L 911 251 Q 901 251 900.98 261 L 900.73 400.06" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 900.72 405.31 L 897.23 398.3 L 900.73 400.06 L 904.23 398.32 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 251 371 L 101 371 Q 91 371 90.98 381 L 90.73 530.06" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 90.72 535.31 L 87.23 528.3 L 90.73 530.06 L 94.23 528.32 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 571 371 L 401 371 Q 391 371 390.98 381 L 390.73 530.06" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 390.72 535.31 L 387.23 528.3 L 390.73 530.06 L 394.23 528.32 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 571 371 L 751 371 Q 761 371 760.98 381 L 760.73 530.06" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 760.72 535.31 L 757.23 528.3 L 760.73 530.06 L 764.23 528.32 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 901 371 L 1031 371 Q 1041 371 1040.98 381 L 1040.73 530.06" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 1040.72 535.31 L 1037.23 528.3 L 1040.73 530.06 L 1044.23 528.32 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 91 501 L 231 501 Q 241 501 240.98 511 L 240.73 654.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 240.72 659.6 L 237.23 652.59 L 240.73 654.35 L 244.23 652.6 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 391 501 L 561 501 Q 571 501 570.98 511 L 570.73 654.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 570.72 659.6 L 567.23 652.59 L 570.73 654.35 L 574.23 652.6 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 761 501 L 891 501 Q 901 501 900.98 511 L 900.73 654.35" fill="none" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 <path d="M 900.72 659.6 L 897.23 652.59 L 900.73 654.35 L 904.23 652.6 Z" fill="#d4e1f5" stroke="#d4e1f5" stroke-miterlimit="10" pointer-events="none"/>
	 </g>
	 </svg>
</div>